:root{
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 0%; margin: 0%;
    display: flex;
    flex-direction: row;
}

#picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("pic.png");
    background-position: center; background-repeat: no-repeat; background-size: cover;
    width: 50%;
    height: 100vh;
}
#picture>#logo{
    display: flex;
    justify-content: center; align-items: center;
    
    margin-top: 25vh;
    padding: 0%;
    width: 100%;
    height: 120px;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font);
}
#logo>h1{
    display: inline;
}
#picture>#piccredit{
    font-family: var(--font);
}

#userinput{
    display: flex;
    flex-direction: column;
}
.topparagraph{
    padding: 15vh 10vh 5vh;
    background-color: whitesmoke;
}

#userinput>#info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#sign-text{
    padding: 0px 0px 0px 40px;
    font-family: var(--font);
    font-size: 20px;
}

#info>#allinputs{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: column;
    gap:10px
}
li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: rgb(53, 53, 53);
    font-family: var(--font);
    font-size: 15px;
}
input{
    font-size: 20px;
    font-family: var(--font);
    padding: 5px 20px 5px 5px;
}
input:valid{
    border: yellowgreen 2px solid;
}
input:invalid{
    border:tomato 2px solid
}

.bottomparagraph{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3vh 50px;
    background-color: whitesmoke;
}
.bottomparagraph>button{
    background-color: steelblue;
    border: 0px;
    border-radius: 5px;

    min-height: 5vh;
    max-width: 25vh;
    max-height: 10vh;

    font-family: var(--font);
    font-size: 20px;
    color: white;
}