:root{
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 0%; margin: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

h1{
    padding: 0%; margin: 0%;
    display: inline;
}

#picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("pic.png");
    background-position: center; background-repeat: no-repeat; background-size: cover;
    width: 50%;
    height: 100vh;
}
#picture>#logo{
    display: flex;
    justify-content: center; align-items: center;
    
    margin-top: 25vh;
    width: 100%;
    height: 120px;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#picture>#piccredit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#userinput{
    display: flex;
    padding: 0%; margin: 0%;
    flex-direction: column;
    justify-content: space-between;
}

#info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#allinputs{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: column;
    gap:10px
}
li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: rgb(53, 53, 53);
    font-family: var(--font);
    font-size: 20px;
}
.topparagraph{
    min-height: auto;
    padding: 15vh 10vh 5vh;
    background-color: whitesmoke;
}
.bottomparagraph{
    min-height: auto;
    padding: 2vh 10vh 15vh;
    background-color: whitesmoke;
}

#sign-text{
    padding: 0px 0px 0px 40px;
    font-family: var(--font);
    font-size: 20px;
}